
<footer class="w3-row w3-teal">
	
	<div class="w3-quarter">
		<p><img src='images/logo_small.png'/></p>
	</div>
	<div class="w3-half w3-center">
		<br> <p>Copyright © 2015 - 2017  We do NOT share your details</p>
	</div>
	<div class="w3-quarter ">
	<div class="w3-tooltip w3-right">
		<span class="w3-text w3-padding">Go To Top</span>    
		<a href="#header"><span class="w3-xlarge">
		<i class="glyphicon glyphicon-menu-up"></i></span></a>
	</div>
		<i class="fa fa-facebook-square" style="font-size:48px;color:white"></i>
		<i class="fa fa-youtube-square" style="font-size:48px;color:white"></i>
		<i class="fa fa-twitter-square" style="font-size:48px;color:white"></i>
		<i class="fa fa-linkedin-square" style="font-size:48px;color:white"></i>
		<i class="fa fa-google-plus-square" style="font-size:48px;color:white"></i>
	</div>
</footer> 
